/.git
node_modules/
vendor/
bootstrap/cache
!bootstrap/cache/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.example
.gitattributes
.gitignore
